@using CockQuartzAdmin.Common;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>job管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="@(CockQuartzConst.StaticUrl)Eui/example1.1/favicon.ico?v=@MvcApplication.Version" rel="shortcut icon" />
    <link href="@(CockQuartzConst.StaticUrl)Eui/1.1/css/eui.min.css?v=@MvcApplication.Version" rel="stylesheet" />

    <link href="~/Content/loading/loading.css" rel="stylesheet" />
    @RenderSection("Header", false)
</head>
<body>
    <div class="header clearfix">
        <div class="header-logo pull-left">
            <a class="logo" href="####">一嗨租车</a>
        </div>
        <div id="J_HeaderNav" class="header-nav pull-left">
            <h1 class="header-nav-text">Job控制界面</h1>
        </div>
        <div class="header-opt pull-right">
            <ul class="list-unstyled header-opt-list clearfix">
                <li><a href="~/CronHelp.htm" target="_blank">Cron表达式帮助</a></li>
            </ul>
            @RenderSection("instancename", false)
            @*<ul class="list-unstyled header-opt-list clearfix">

    @if (!string.IsNullOrWhiteSpace(userName) && !string.IsNullOrWhiteSpace(userId))
     {
         <li>欢迎您，@userName（工号：@userId）</li>
         <li><a href="#"><i class="opt-signout"></i>退出</a></li>
     }
            </ul>*@
        </div>
    </div>
    <div id="J_Content" class="content">
        <!-- sidebar -->
        <div class="content-sidebar">
            <div class="sidebar-nav">

                <div class="sidebar-nav-item active">
                    <ul class="list-unstyled sidebar-nav-menu" id="selecedGroupName">
                        <li class=""><a href="@(Url.Action("JobList","JobManagement")+"?groupName=" +"自驾官网")">自驾官网</a></li>
                        <li class=""><a href="@(Url.Action("JobList","JobManagement")+"?groupName=" +"自驾后台")">自驾后台</a></li>

                    </ul>
                </div>



                @*@Html.Partial("~/Views/Shared/_Navigation.cshtml") 侧边栏
                    *@

            </div>
            <div id="J_HideSidebarBtn" class="sidebar-btn"><span></span></div>
        </div>
    
        <!--更新Loading效果-->
        <div class="dw-btn btn-warning"></div>

        <!-- product -->
        <div class="content-product">
            <div class="content-product-wrapper">
                <div class="content-product-container">
                    <div class="container">
                        <div id="navigation">
                            @RenderBody()
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="@(CockQuartzConst.StaticUrl)Eui/1.1/js/jquery.min.js?v=@MvcApplication.Version"></script>
    <script src="@(CockQuartzConst.StaticUrl)Eui/1.1/js/eui.min.js?v=@MvcApplication.Version"></script>

    <script src="~/Scripts/loading/loading.js"></script>
    <script src="~/Scripts/Common.js?v=@MvcApplication.Version"></script>
    <script type="text/javascript">
         $(function () {
             //用于模糊查询

             $('.js-example-basic-single').select2();
         });
    </script>
    @RenderSection("modal", false)
    @RenderSection("Script", false)
   
</body>
</html>
