@using eHi.Common.Dto.Paged;
@model PagedResultDto<CockQuartz.Core.Dto.JobDetailOutputDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 style="text-align: center">
    <strong>Job控制界面</strong>
</h1>
    @section instancename{
        <div class="dropdown">
            <button class="btn btn-hollow btn-hollow-info dropdown-toggle" type="button" aria-expanded="false">
                实例与心跳
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @foreach (dynamic item in ViewBag.Instances)
                {
                    <li>实例名：@item.InstanceName</li>
                    <li>心跳：@item.HeartBeat</li>
                }
            </ul>
        </div>
    }
<input type="hidden" id="JobGroupName" value="@(ViewBag.GroupName)"/>
<div style="width:100%; margin: 0 auto; text-align: right; height: 30px; line-height: 20px" id="divlist">
    @Html.Partial("Partial/_JobList", Model)
</div>
<div class="pull-left">
    @*<input type="button" id="btnAddJob" value="添加Job" class="btn btn-primary" />*@
</div>
<script>
    url = {
        btnRun: "@Url.Action("RunJob", "JobManagement")",
        btnStop: "@Url.Action("PauseJob", "JobManagement")",
        btnResume: "@Url.Action("ResumeJob", "JobManagement")",
        btnStart: "@Url.Action("StartJob", "JobManagement")",
        btnDelete: "@Url.Action("DeleteJob", "JobManagement")",
        btnEdit: "@Url.Action("ModifyJobCron", "JobManagement")",
        btnEditExceptionEmail: "@Url.Action("ModifyExceptionEmail", "JobManagement")",
        @*btnEditRequestUrl: "@Url.Action("ModifyRequestUrl", "JobManagement")",
        btnAddJob: "@Url.Action("CreateJob", "JobManagement")",*@
        jobList: "@Url.Action("JobList", "JobManagement")"
    }
</script>

@section modal{

    <div id="JobModal" class="modal customer-class in">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="j-modal-close modal-close"><span class="modal-close-x">×</span></button>

                <div class="modal-body">
                    <div id="addmodal">
                        @Html.Partial("CreateJob")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop"></div>
}
@section Script{
    @Scripts.Render("~/Scripts/JobManagement.js")
}